# Dependencies
node_modules
/node_modules
*/node_modules

# Environment Variables
.env
.env.local
.env.*

# System Files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Build Outputs
dist/
build/